<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Estudiantes</title>
</head>

<body>

    <h1>Bienvenido al Sistema de Gestión de Estudiantes</h1>
    <p>Haz clic en el botón para ir al CRUD de estudiantes:</p>

    <br>

    <a href="/lista">
       <a href="{{ url_for('lista') }}">
    <button type="button">Ver Lista</button>
</a>
        </button>
    </a>

</body>

</html>